*, *:before, *:after {
  box-sizing: border-box;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #424242;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  &__logo {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-top: 24px;
    margin-left: 36px;
    &__img {
      filter: grayscale(100%);
    }
  }
}