*, *:before, *:after {
  box-sizing: border-box;
}

.register-btn {
  height: 60px;
  width: 180px;
  background-color: #424242;
  box-shadow: 6px 4px 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  bottom: 24px;
  right: 0;
  position: fixed;
  &__text {
    display: block;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
  }
}

