*, *:before, *:after {
  box-sizing: border-box;
}

.side-bar {
  height: 100%;
  width: 240px;
  background-color: #424242;
  box-shadow: 6px 4px 6px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  &__content {
    display: block;
    position: relative;
    background-color: #303030;
    font-size: 12px;
    line-height: 48px;
    text-align: center;
    margin-top: 120px;
    padding: 24px;
    &__party {
      position: absolute;
      height: 48px;
      width: 240px;
      color: whitesmoke;
      text-decoration: none;
      top: 0;
      left: 0;
    }
  }
}