*, *:before, *:after {
  box-sizing: border-box;
}

.main {
  height: calc(100vh - 60px);
  width: calc(100vw - 240px);
  background-color: #303030;
  color: whitesmoke;
  margin: 60px 0 0 240px;
  &__wrap {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0 0 24px;
    &__text {
      font-size: 12px;
      font-weight: 300;
      margin: 12px 0 0 24px;
    }
  }
}