*, *:before, *:after {
  box-sizing: border-box;
}

.party {
  &__wrap {
    height: calc(100vh - 60px);
    width: calc(100vw - 240px);
    background-color: #303030;
    color: white;
    margin: 60px 0 0 240px;
    position: fixed;
    
    // ------------------------ 1匹目 ------------------------ //
    &__pokemon1 {
      display: flex;
      height: auto;
      width: auto;
      background-color: #424242;
      box-shadow: 6px 4px 6px 0 rgba(0, 0, 0, 0.4);
      margin: 12px;
      padding: 12px;
      .pokemon-container {
        &__top {
          display: flex;
          margin: 4px;
          .form-name__input {
            height: 36px;
            width: 120px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            font-weight: 600;
            padding-left: 4px;
          }
          .form-nickname__input {
            height: 36px;
            width: 120px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            padding-left: 4px;
          }
          .form-gender__input {
            height: 36px;
            width: 36px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            padding-left: 4px;
          }
        }
        &__center {
          display: flex;
          margin: 4px;
          .form-ability__input {
            height: 36px;
            width: 120px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            padding-left: 4px;
          }
          .form-nature__input {
            height: 36px;
            width: 120px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            padding-left: 4px;
          }
          .form-item__input {
            height: 36px;
            width: 180px;
            border: 0;
            border-bottom: 1px solid whitesmoke;
            outline: 0;
            background-color: #424242;
            color: white;
            font-size: 14px;
            padding-left: 4px;
          }
        }
        // ステータス関連
        .label {
          display: flex;
          font-size: 12px;
          color: gray;
          .form {
          }
          .form-status {
            font-size: 10px;
            display: flex;
          }
        }

      }
      .pokemon-moves {

      }
    }
  }
}